{% extends "base.html" %}

{% block title %}
    My Site - Home
{% endblock title %}


{% block content %}
<h1>all panels</h1>
<div class="row">
    {% for panel in all_panels %}
    <div class="col-3">
        <div class="shadow border"> <!-- Example HTML / CSS -->
            <p>{{ panel.github_username }}</p>
            <p>{{ panel.repo_name }}</p>
            <p>{{ panel.panel_type }}</p>
            <a href="/details/{{ panel.id }}/">Click for more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}


